<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsAcademy"
        tools:targetApi="31">
        <activity
            android:name=".PantallaCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".PantallaSeleccion">
        </activity>

        <activity android:name=".PantallaInicio">
        </activity>

        <activity android:name=".PantallaLogin">
        </activity>

        <activity android:name=".PantallaRegistro">
        </activity>

        <activity android:name=".Spanish">
        </activity>

        <activity android:name=".Math">
        </activity>

        <activity android:name=".Ciencias">
        </activity>

        <activity android:name=".Etica">
        </activity>

        <!--LLAMADA A TODAS LAS ACTIVIADES DE MATEMATICAS-->
        <activity android:name=".Actividad1Math">
        </activity>

        <activity android:name=".Actividad2Math">
        </activity>

        <activity android:name=".Actividad3Math">
        </activity>

        <activity android:name=".Actividad4Math">
        </activity>

        <activity android:name=".Actividad5Math">
        </activity>

        <activity android:name=".Actividad6Math">
        </activity>

        <activity android:name="Actividad1Ciencias">
        </activity>

        <activity android:name="Resultado1Ciencias">
        </activity>

        <activity android:name=".Actividad2Ciencias">
        </activity>

        <!--LLAMADA A TODAS LAS ACTIVIADES DE ETICA-->
        <activity android:name=".Actividad1Etica">
        </activity>

        <activity android:name=".Actividad2Etica">
        </activity>

        <activity android:name=".Actividad3Etica">
        </activity>

        <activity android:name=".Actividad4Etica">
        </activity>

        <activity android:name=".Actividad5Etica">
        </activity>

        <activity android:name=".Actividad6Etica">
        </activity>

        <!--LLAMADA A TODAS LAS ACTIVIADES DE ESPAÑOL-->
        <activity android:name=".Actividad1Spanish">
        </activity>

        <activity android:name=".Actividad2Spanish">
        </activity>

        <activity android:name=".Actividad3Spanish">
        </activity>

        <activity android:name=".Actividad4Spanish">
        </activity>

        <activity android:name=".Actividad5Spanish">
        </activity>

        <activity android:name=".Actividad6Spanish">
        </activity>


    </application>

</manifest>